    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">More about Us and the Program</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/css/2016_style/img/icon-about.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Vision</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Stellar is one of the most flexible Cryptocurrencies in the world and it's trusted by IBM, Deloitte, TEMPO, PARKWaY and so on. We believe stellar will play an important role in the economy in near future. </p>
                                    <p class="text-muted">Palawan in Philippines was awarded NO. 1 tourist destination 3 times in past 5 years by TRAVEL + LEISURE, an affiliate of Time Inc. Affluent Media Group (<a href="http://www.dailymail.co.uk/travel/travel_news/article-4696830/Palawan-Island-Philippines-voted-best-world.html">for details</a>). When other destinations are getting crowded and polluted, palawan is there for you.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/css/2016_style/img/icon-agenda.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Mission</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Stellar is getting recognization all over the world. However it's mainly working as a backbone. We'd like to see involved parties paying/accepting XML as a payment option. So let's start from travel industry in Philippines.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/css/2016_style/img/icon-team.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Road Map</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Collecte initial funds for the property in the first 3 months. It might be longer or shorter, depends on reactions from community</p>
                                    <p class="text-muted">Complete all related documents to avoid legal issue in the next 2 months. </p>
                                    <p class="text-muted">Launch app to accept room reservation in next 1 month. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/css/2016_style/img/icon-faq.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>>FAQs</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Why do you only have one property listed?<br />
                                        That's only a start. More property will be listed based on the <a href="#expectation">survey</a>.
                                    </p>
                                    <p class="text-muted">What if you failed to collect enough fund for this property?</br>
                                        You can invest in next property or get guaranteed 80% money back (based on USD value).
                                    </p>
                                    <p class="text-muted">What payment options do you have?<br />
                                        Currently we only accept stellar lumens (XLM). <a href="#contact">Contact us</a> if you have special request.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
