<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray" id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Holiday Credit</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div style="background:white">
                        <a href="#" class="portfolio-link" data-toggle="modal"></a>
                            <img src="" class="img-responsive img-centered" alt="">
                            <center><h3 style="color:green;font-size:x-large">FACTORS</h3></center>
                            <p></p>
                            <b><em style="color:green;font-size:large">Anchor Name:</em></b> Holiday Credit
                            <br /><b><em style="color:green;font-size:large">Anchor Code:</em></b> HDCD
                            <br /><b><em style="color:green;font-size:large">Secured By:</em></b> Ako Angel Trading - A Philippines based company
                            <br /><b><em style="color:green;font-size:large">Price:</em></b> USD 10
                            <br /><b><em style="color:green;font-size:large">Rights:</em></b> One HDCD can claim one-day-stay (1PM-12PM) in one bedroom in the property
                            <br /><b><em style="color:green;font-size:large">Special Conditions:</em></b> If HDCD real price is 5% different from theoratical price (based on Poloniex historical data) because of system failure or internet disconnection, we have the exclusive rights to correct impacted transactions.                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div style="background:white">
                        <a href="#" class="portfolio-link" data-toggle="modal"></a>
                            <img src="" class="img-responsive img-centered" alt="">
                            <center><h3 style="color:green;font-size:x-large">Property</h3></center>
                            <p></p>
                            <b><em style="color:green;font-size:large">Property Name:</em></b> Pontefino Hotel & Residences
                            <br /><b><em style="color:green;font-size:large">Address:</em></b> Gov. Antonio Carpio Rd Batangas, Gulod Labac, Batangas City
                            <br /><b><em style="color:green;font-size:large">Type:</em></b> 3 bedroom Townhouse
                            <br /><b><em style="color:green;font-size:large">Features:</em></b> Lot area 60 SQM, Floor area 86 SQM, 3 bedroom,3 bathroom 2 garage, Living room, Dining room,Kitchen,Powder room ad Maid’s room
                            <br /><b><em style="color:green;font-size:large">Service:</em></b> Main will be hired to help around
                            <br /><b><em style="color:green;font-size:large">Near-bys:</em></b> It's in the city. So it's near malls, KTV bars, schools, restaurant, hospitals, public service and transport. And also it's near batangas port. So it's easy to go to amazing Puerto Galera.                       
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="" class="img-responsive img-centered" alt="">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCYjYq-IPTfKW_XBshBjY-EI7qEmq-0Xdo&q=13.759092,121.0738688&zoom=15" frameborder="0" style="width:100%;height:345px;border:0" allowfullscreen></iframe>
                    </a>
                </div>
            </div>
        </div>
    </aside>
