<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="/css/2017_style/img/logos/TBD.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="/css/2017_style/img/logos/TBD.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <iframe src="https://www.google.com.ph/maps/place/13%C2%B045'32.7%22N+121%C2%B004'27.9%22E/@13.759092,121.0738688,19z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d13.7590922!4d121.0744164" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </aside>
