<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Stellar Travel Program<br></div>
                <div class="intro-lead-in">Live More, Cost Less</div>
                <div class="intro-lead-in">Stellar Protected Low Cost Accommodation</div>
                <a href="#sponsors" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2017_data/sponsors.html %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/expectation.html %} 
    {% include 2017_data/about.html %}     
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
